In [4]:
import pandas as pd
import numpy as np

In [2]:
a = pd.read_csv('stack_extree_xgb.csv04.12..csv')

In [3]:
b = pd.read_csv('stack_rf_xgb.csv04.11..csv')

In [14]:
bb = pd.read_csv('stack_gbm_xgb.csv04.12..csv')

In [10]:
c = a

In [15]:
c['low'] = (a['low']*np.exp(-0.53192) + b['low']*np.exp(-0.53219)+bb['low']*np.exp(-.53260))/(np.exp(-0.53192) + np.exp(-0.53219)+np.exp(-.53260))
c['medium'] = (a['medium']*np.exp(-0.53192) + b['medium']*np.exp(-0.53219)+bb['medium']*np.exp(-.53260))/(np.exp(-0.53192) + np.exp(-0.53219)+np.exp(-.53260))
c['high'] = (a['high']*np.exp(-0.53192) + b['high']*np.exp(-0.53219)+bb['high']*np.exp(-.53260))/(np.exp(-0.53192) + np.exp(-0.53219)+np.exp(-.53260))

In [16]:
c.to_csv('combine3.csv',index=False)

In [13]:
c.head()

        low    medium      high  listing_id
0  0.437439  0.454149  0.108412     7142618
1  0.984600  0.013618  0.001782     7210040
2  0.688097  0.275671  0.036232     7103890
3  0.447887  0.465674  0.086439     7143442
4  0.691692  0.266868  0.041440     6860601

In [8]:
b.head()

        low    medium      high  listing_id
0  0.425814  0.462935  0.111251     7142618
1  0.984245  0.013950  0.001805     7210040
2  0.690187  0.273082  0.036731     7103890
3  0.433336  0.476033  0.090630     7143442
4  0.682640  0.273890  0.043470     6860601