In [4]:
from utils import *
import pandas as pd
import re

from sklearn.feature_selection import SelectKBest,chi2,mutual_info_classif,f_classif
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
train_df,test_df = read_data()

In [64]:
high = train_df[train_df['interest_level']==2]

In [65]:
high['listing_id'].head(20)

100004    6887163
100044    6895442
100079    6907079
100098    6885742
100151    6946257
100166    6844733
100188    6877460
100196    6869315
10020     7147322
100209    6819930
100224    6911693
100260    6851019
100265    6931557
100282    6894530
100318    6818493
100331    6894240
100356    6878419
100406    6849785
100465    6841075
10048     7145794
Name: listing_id, dtype: int64

In [6]:
addr_mapping={r"&":' and ','second':'2nd','first':'1st','third':'3rd','fourth':'4th','fifth':'5th',
                       'sixth':'6th','seventh':'7th','eighth':'8th','ninth':'9th','tenth':'10th'}

for k,v in addr_mapping.iteritems():
    train_df['display_address'] = train_df['display_address'].map(lambda x:re.sub(k,v,x))
train_df['display_address'] = train_df['display_address'].map(lambda x: x.lower())

train_df['display_address'] = train_df['display_address'].map(lambda x:re.sub('[^0-9a-z\s]',' ',x))

#train_df['masked_address'] = train['display_address'].map(lambda x:re.sub('([a-z ])?\d+[a-z]*',r"\1 xx",' '+x+' '))

train_df['norm_address'] = train_df['display_address'].map(lambda x:re.sub('\sw\s ',' west ',' '+x+' '))
train_df['norm_address'] = train_df['norm_address'].map(lambda x:re.sub('\se\s',' east ',' '+x+' '))
train_df['norm_address'] = train_df['norm_address'].map(lambda x:re.sub('\sn\s',' north ',' '+x+' '))
train_df['norm_address'] = train_df['norm_address'].map(lambda x:re.sub('\ss\s',' south ',' '+x+' '))
train_df['norm_address'] = train_df['norm_address'].map(lambda x:re.sub('\sst\s',' street ',' '+x+' '))
train_df['norm_address'] = train_df['norm_address'].map(lambda x:re.sub('\srd\s',' road ',' '+x+' '))
train_df['norm_address'] = train_df['norm_address'].map(lambda x:re.sub('\save\s',' avenue ',' '+x+' '))
train_df['norm_address'] = train_df['norm_address'].map(lambda x:re.sub('\sblvd\s',' boulevard ',' '+x+' '))
train_df['norm_address'] = train_df['norm_address'].map(lambda x:re.sub('\spl\s',' place ',' '+x+' '))
train_df['norm_address'] = train_df['norm_address'].map(lambda x:re.sub('\spkwy\s',' parkway ',' '+x+' '))
train_df['norm_address'] = train_df['norm_address'].map(lambda x:re.sub('\sdr\s',' drive ',' '+x+' '))
train_df['norm_address'] = train_df['norm_address'].map(lambda x:re.sub('\sln\s',' lane ',' '+x+' '))


train_df['norm_address'] = train_df['norm_address'].map(lambda x:re.sub('(?<=[0-9])(?:st|nd|rd|th)','',x))

In [16]:
count_vect = CountVectorizer(ngram_range=(2,2),stop_words='english',min_df=30)
count_vect.fit(train_df.norm_address)
X_train_counts = count_vect.transform(train_df.norm_address)

In [24]:
all_keys = [x[0] for x in sorted(count_vect.vocabulary_.items(),key=lambda x:x[1])]

addr_ngram = pd.DataFrame(X_train_counts.todense(),columns=all_keys)

xxx_street = [x for x in all_keys if re.match('\d+ street',x) is not None]
num_street = [int(re.sub('[^0-9]','',x)) for x in xxx_street]

west_xxx = [x for x in all_keys if re.match('west \d+',x) is not None]
west_num = [int(re.sub('[^0-9]','',x)) for x in west_xxx]

east_xxx = [x for x in all_keys if re.match('east \d+',x) is not None]
east_num = [int(re.sub('[^0-9]','',x)) for x in east_xxx]

addr_ngram['xxx_street']=0
addr_ngram['num_street']=0
addr_ngram['west_xxx'] = 0
addr_ngram['west_num'] = 0
addr_ngram['east_xxx'] = 0
addr_ngram['east_num'] = 0

for a,b in zip(xxx_street,num_street):
    addr_ngram['xxx_street'] = addr_ngram['xxx_street'] + addr_ngram[a]
    addr_ngram.loc[addr_ngram[a]>0,'num_street'] = b
    del addr_ngram[a]

for a,b in zip(west_xxx,west_num):
    addr_ngram['west_xxx'] = addr_ngram['west_xxx'] + addr_ngram[a]
    addr_ngram.loc[addr_ngram[a]>0,'west_num'] = b
    del addr_ngram[a]

for a,b in zip(east_xxx,east_num):
    addr_ngram['east_xxx'] = addr_ngram['east_xxx'] + addr_ngram[a]
    addr_ngram.loc[addr_ngram[a]>0,'east_num'] = b
    del addr_ngram[a]

In [61]:
addr_ngram.shape

(49352, 160)

In [62]:
addr_ngram.head()

,10 avenue,11 avenue,30 avenue,31 avenue,35 avenue,47 avenue,50 avenue,allen street,amsterdam avenue,astor place,...,west houston,west street,worth street,york avenue,xxx_street,num_street,west_xxx,west_num,east_xxx,east_num
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,13,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,49,0,0,1,49
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,143,0,0

In [55]:
addr_ngram[['xxx_street','num_street','west_xxx','west_num']]

       xxx_street  num_street  west_xxx  west_num
0               0           0         0         0
1               0           0         0         0
2               1          13         0         0
3               1          49         0         0
4               0           0         1       143
5               1          18         1        18
6               1         107         1       107
7               1          21         1        21
8               0           0         0         0
9               0           0         0         0
10              0           0         0         0
11              1         173         0         0
12              1          38         0         0
13              1          63         1        63
14              1          56         0         0
15              1          34         0         0
16              0           0         0         0
17              0           0         0         0
18              1         106         0         0
19              0           0         0         0
20              0           0         0         0
21              1          30         0         0
22              1          35         0         0
23              0           0         0         0
24              1          18         0         0
25              0           0         0         0
26              1          81         0         0
27              1          57         1        57
28              0           0         0         0
29              1          79         0         0
...           ...         ...       ...       ...
49322           1          10         0         0
49323           1          58         0         0
49324           1          78         0         0
49325           0           0         0         0
49326           1          81         0         0
49327           0           0         0         0
49328           0           0         0         0
49329           0           0         0         0
49330           1          12         0         0
49331           0           0         0         0
49332           1          98         1        98
49333           1          58         1        58
49334           0           0         0         0
49335           0           0         0         0
49336           0           0         0         0
49337           1          77         0         0
49338           1          87         0         0
49339           1          72         0         0
49340           0           0         0         0
49341           0           0         0         0
49342           1          54         0         0
49343           1          76         0         0
49344           0           0         0         0
49345           1          89         0         0
49346           1          10         0         0
49347           1          30         0         0
49348           0           0         0         0
49349           1          45         1        45
49350           0           0         0         0
49351           0           0         0         0

[49352 rows x 4 columns]